

.list__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.list__item {
	width: 190px;
	margin: var(--spacing-medium);
	border-radius: var(--border-radius-small);
	background-color: var(--color-white);
	cursor: pointer;
	transition: all var(--transition) ease-out;
}

.list__item:hover {
    transform: scale(1.1);
    
}

.list__item a {
	text-decoration: none;
	color: var(--color-black);
	text-align: center;
	outline: 0;
    outline-offset: 0;
	border: 0px;
}


.person__photo {
	width: 100%;
	height: 260px;
	border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
	object-fit: cover;
	object-position: top center;
}
