:root {
	/* colors */
	--color-dark-gray: #10100e;
	--color-light-gray: #dfe2df;
	--color-white: #fff;
	--color-black: #000;
	--color-yellow: #ffff00;
	--color-orange: orangered;
	--color-blue: #6a83fb;
	--color-violet: #ae72c2;
	--color-red: #f75d83;
	--color-green: #56c218da;

	/* margins & paddings */
	--spacing-large: 30px;
	--spacing-medium: 20px;
	--spacing-small: 10px;
	--spacing-ultrasmall: 5px;
	--margin-list: 7px;

	/* width height*/
	--width-max: 1200px;

	/* transition */
	--transition: 0.3s;

	/* fonts */
	--font-family-main: sans-serif;
	--font-bold: 600;
	--font-size-header: 26px;
	--font-size-subheader: 18px;
	--font-size-main: 16px;

	/* text effects*/
	--text-shadow-yellow: 0 0 2px var(--color-white), 0 0 40px var(--color-yellow);
	--text-shadow-blue: 0 0 2px var(--color-white), 0 0 40px var(--color-blue);
	--box-shadow-white: 0 16px 24px 2px rgba(255, 255, 255, 0.02),
		0 6px 30px 5px rgba(255, 255, 255, 0.04), 0 8px 10px -5px rgba(255, 255, 255, 1);
	--box-shadow-black: 0 16px 24px 2px rgba(0, 0, 0, 0.02),
		0 6px 30px 5px rgba(0, 0, 0, 0.04), 0 8px 10px -5px rgba(0, 0, 0, 1);
	


	/* borders */
	--border-radius-small: 3px;
	--border-radius-medium: 5px;

	/* theme */
	--theme-light-header: #dfe2df;
	--theme-dark-header: #ca6c6f;
	--theme-robo-header: #cccc46;

	--theme-light-bg: url(@static/light-bg.jpg);
	--theme-dark-bg: url(@static/dark-bg.jpg);
	--theme-robo-bg: url(@static/bg.jpg);

	--theme-light-nav: #dfe2df;
	--theme-dark-nav: #ca6c6f;
	--theme-robo-nav: #cccc46;

	--theme-light-border: #fad502;
	--theme-dark-border: #070405;
	--theme-robo-border: #0aad25;
	
	--theme-robo-box-shadow: 0px 0px 30px 15px #0aad25;
	--theme-dark-box-shadow: 0px 0px 30px 15px #8A2831;
	--theme-light-box-shadow: 0px 0px 30px 15px #fad502;

	--theme-default-header: var(--theme-robo-header);
	--theme-default-bg: var(--theme-robo-bg);
	--theme-default-nav: var(--theme-robo-nav);
	--theme-default-box-shadow: var(--theme-robo-box-shadow);
}

html {
	overflow-y: scroll;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--color-dark-gray);
	font-family: var(--font-family-main);
	font-size: var(--font-family-main);
	background-image: var(--theme-default-bg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
}

img {
	display: block;
}

.header__text {
	line-height: 1.7;
	font-size: var(--font-size-header);
	text-shadow: 0 0 2px var(--color-black);
	color: var(--theme-default-header);
	transition: color var(--transition);
}


.center {
    align-self: center;
}


/* scrollbar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--theme-default-header);
	border-radius: 3px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner{
	background-color: rgba(0,0,0,7)
}