.theme__btn {
	width: 250px;
	height: 350px;
	position: relative;
	margin: var(--margin-list);
	font-size: var(--font-size-header);
	font-weight: var(--font-bold);
	color: var(--theme-default-card);
	cursor: pointer;
	border-radius: var(--border-radius-medium);
	border: none;
	opacity: 0.6;
	transition: var(--transition);
	border: 4px solid transparent;
}
.theme__btn:hover {
	transform: scale(1.05);
	opacity: 1;
}

.theme__active {
	opacity: 1;
}

.theme__checked {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 3;
	opacity: 1;
}

.dark {
	background-color: var(--theme-dark-header);
	transition: var(--transition);
}
.light {
	background-color: var(--theme-light-header);
	transition: var(--transition);
}
.robo {
	background-color: var(--theme-robo-header);
	transition: var(--transition);
}

.dark.theme__btn:hover {
	box-shadow: var(--theme-dark-box-shadow);
	border-radius: 15px;
}
.light:hover {
	box-shadow: var(--theme-light-box-shadow);
	border-radius: 15px;
}
.robo:hover {
	box-shadow: var(--theme-robo-box-shadow);
	border-radius: 15px;
}
